---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'
import BoardList from '../components/BoardList.astro'
import BlockSurvey from '../components/BlockSurvey.astro'
---

<Layout title="Quo Vadis Web3 - Editorial Board">
	<Nav />
	<main>
		<BoardList />
	</main>
	<Footer />
	<BlockSurvey />
</Layout>
