---
import Layout from '../layouts/Layout.astro'
import Partners from '../components/Partners.astro'
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'
import BlockSurvey from '../components/BlockSurvey.astro'
---

<Layout title="Quo Vadis Web3 - Our Partners">
	<Nav />
	<main>
		<Partners />
	</main>
	<Footer />
	<BlockSurvey />
</Layout>
