---
import Rectangle from './Rectangle.astro'
---

<div class="animate--on-visibility carousel-container" data-animationclass="animate__bounceInRight">
	<div class="carousel-track" id="carouselTrack">
		<div class="carousel-slide btn--open-modal-blockSurvey active cursor-pointer">
			<Rectangle />
			<img class="rounded-lg" src=`${import.meta.env.BASE_URL}images/blocksurvey.png` />
			<h3 class="text-sm leading-7 tracking-tight">Quo Vadis Web3 Survey Data</h3>
		</div>
		<div class="carousel-slide btn--open-modal-kumu cursor-pointer">
			<Rectangle />
			<img class="rounded-lg" src=`${import.meta.env.BASE_URL}images/kumu.png` />
			<h3 class="text-sm leading-7 tracking-tight">Web3 Ecosystem in Portugal</h3>
		</div>
	</div>
	<div class="btn-container">
		<button class="carousel-nav-btn active"></button>
		<button class="carousel-nav-btn"></button>
	</div>
</div>

<style>
	.carousel-container {
		position: relative;
		width: 70%;
		margin: auto;
	}

	.carousel-track {
		display: flex;
		gap: 32px;
		transition: transform 0.5s ease-in-out;
	}

	.carousel-slide {
		min-width: 100%;
		box-sizing: border-box;
		position: relative;
		transition: opacity 0.5s ease-in-out;

		&:not(.active) {
			opacity: 0.2;
		}
	}

	.carousel-slide img {
		width: 100%;
		height: auto;
	}

	.btn-container {
		display: flex;
		gap: 8px;
		bottom: -70px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;

		.carousel-nav-btn {
			width: 40px;
			height: 4px;
			border-radius: 8px;
			background: rgba(217, 217, 217, 0.4);

			&.active {
				background: #fff;
			}
		}
	}

	h3 {
		font-family: inherit;
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: -36px;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const track = document.getElementById('carouselTrack')
		const slides = document.querySelectorAll('.carousel-slide')
		const navButtons = document.querySelectorAll('.carousel-nav-btn')
		let currentIndex = 0

		for (let i = 0; i < navButtons.length; i++) {
			navButtons[i].addEventListener('click', () => {
				currentIndex = i
				updateCarousel()
			})
		}

		function updateCarousel() {
			const translateValue = `calc(${-currentIndex * 100}% - ${currentIndex * 32}px)`
			track.style.transform = 'translateX(' + translateValue + ')'

			for (let j = 0; j < navButtons.length; j++) {
				navButtons[j].classList.remove('active')
				slides[j].classList.remove('active')
			}
			navButtons[currentIndex].classList.add('active')
			slides[currentIndex].classList.add('active')
		}
	})
</script>
