---
import Rectangle from './Rectangle.astro'
---

<div class="relative">
	<img
		class="animate--on-visibility h-[30rem] w-full object-cover sm:h-auto sm:max-h-[51rem]"
		src="/images/cybersecurity-woman.jpg"
		data-animationclass="animate__zoomIn"
	/>
	<div class="container">
		<Rectangle />
		<div
			class="animate--on-visibility content p-4 text-center sm:p-10 md:p-16 lg:p-20"
			data-animationclass="animate__flipInX"
		>
			<h2 class="title text-3xl font-bold sm:text-4xl">Data is the New Gold</h2>
			<div class="mx-auto mt-6 max-w-2xl">
				<p class="text-sm sm:text-lg sm:leading-8">
					Any industry report and overview require reliable, deep, and comprehensive data
					and the Quo Vadis Web3 project aims to provide a consistent and methodologically
					sound data, aggregated via different set of sources, using decentralised tools.
					<br />
					<br />
					 Quo Vadis Web3 project will source and organise its data from a compilation of
					trustworthy external data sources and mainly from its proprietorial survey, peer
					reviewed by the project editorial board.
				</p>
			</div>
		</div>
	</div>
</div>

<style>
	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		opacity: 0.8;
		border-radius: 20px;
		max-width: 90vw;
	}

	.content {
		background-color: white;
		opacity: 0.8;
		border-radius: inherit;
	}

	.title {
		background: linear-gradient(90deg, #ce4da4 0%, #7353e5 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
