---
import Rectangle from './Rectangle.astro'
---

<div class="flex flex-col gap-y-8 px-6 py-10 text-white sm:p-16">
	<h2
		class="animate--on-visibility text-center text-3xl font-bold sm:text-4xl"
		data-animationclass="animate__jello"
	>
		Explore our data
	</h2>

	<div class="flex flex-col items-center justify-center gap-16 sm:flex-row">
		<a
			href="https://blocksurvey.io/public/report/1BoK72fdsEFvc6bvkHLjVubuC3wCBUQwXW/4cf5a18d-963e-420d-9187-6bd9a740f79b"
			target="_blank"
		>
			<div
				class="animate--on-visibility relative"
				data-animationclass="animate__bounceInRight"
			>
				<Rectangle />
				<img class="rounded-lg" src=`${import.meta.env.BASE_URL}images/blocksurvey.png` />
				<h3 class="text-sm leading-7 tracking-tight">BlockSurvey</h3>
			</div>
		</a>
		<div
			class="animate--on-visibility btn--open-modal relative cursor-pointer"
			data-animationclass="animate__bounceInLeft"
		>
			<Rectangle />
			<img class="rounded-lg" src=`${import.meta.env.BASE_URL}images/kumu.png` />
			<h3 class="text-sm leading-7 tracking-tight">Kumu</h3>
		</div>
	</div>
</div>

<style>
	h3 {
		font-family: inherit;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
</style>
