---
import Rectangle from './Rectangle.astro'
import Carousel from './Carousel.astro'
---

<div class="flex flex-col gap-y-8 px-6 py-10 text-white sm:p-16">
	<h2
		class="animate--on-visibility text-center text-3xl font-bold sm:text-4xl"
		data-animationclass="animate__bounceInLeft"
	>
		Explore our data
	</h2>

	<Carousel />
</div>

<style></style>
