<div class="flex flex-col items-center gap-16 px-6 py-10 text-white sm:flex-row sm:px-16 sm:py-24">
	<div class="flex-1">
		<h2
			class="animate--on-visibility text-3xl font-bold tracking-tight sm:text-4xl"
			data-animationclass="animate__slideInLeft"
		>
			Industry-Level Awareness
		</h2>
		<p
			class="animate--on-visibility mt-6 text-sm leading-8 opacity-70 sm:text-lg"
			data-animationclass="animate__slideInLeft"
		>
			If Web3 wants to be perceived as an Industry, it should behave as industries do. In this
			process, understanding the nature and characteristics of its constitutional elements is
			therefore essential, and vital for an internal coherence and an external comprehensive
			narrative in a 360ยบ perspective and not only via sectorial or vertical reporting.
			<br />
			<br />
			 Quo Vadis Web3 intends to contribute for this wider assessment of an industry that
			keeps spreading to all sectors of human activity, starting in the financial sector, and
			diffusing to the academic, logistics, real estate, health, insurance, identity and
			digital ownership, security, infrastructure, art, education, fashion, consultancy,
			regulation, and so many others.
		</p>
	</div>
	<div class="flex flex-1 items-center self-stretch">
		<div class="flex w-full gap-4 sm:flex-col md:flex-row">
			<img
				class="animate--on-visibility self-start"
				data-animationclass="animate__fadeInUp"
				src=`${import.meta.env.BASE_URL}images/image-1.png`
			/>
			<img
				class="animate--on-visibility mt-9 self-start"
				data-animationclass="animate__fadeInDown"
				src=`${import.meta.env.BASE_URL}images/image-2.png`
			/>
		</div>
	</div>
</div>

<style>
	img {
		width: calc(50% - 8px);

		@media (min-width: 640px) {
			width: 100%;
		}

		@media (min-width: 768px) {
			width: calc(50% - 8px);
		}
	}
</style>
