---
import KumuIframe from './KumuIframe.astro'
import Rectangle from './Rectangle.astro'
---

<>
	<div id="overlay-kumu" class="overlay inactive">
		<img class="btn--close-modal-kumu" src=`${import.meta.env.BASE_URL}images/close.svg` />
	</div>
	<div id="modal-kumu" class="modal inactive">
		<Rectangle />
		<div class="h-full overflow-hidden rounded-3xl">
			<KumuIframe />
		</div>
	</div>
</>

<style>
	.modal,
	.overlay {
		transition: opacity 0.5s ease-in-out;
		opacity: 1;

		&.inactive {
			opacity: 0;
			height: 0;
			overflow: hidden;
		}
	}

	.modal {
		--margin: 40px;

		position: fixed;
		top: 0;
		height: calc(100vh - 2 * var(--margin));
		width: calc(100vw - 2 * var(--margin));
		margin: var(--margin);
		z-index: 20;

		@media (min-width: 640px) {
			--margin: 50px;
		}
	}

	.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);
		z-index: 15;
	}

	.btn--close-modal-kumu {
		@apply bg-gray-200;
		position: absolute;
		top: 8px;
		right: 8px;
		border-radius: 50%;
		cursor: pointer;
		width: 40px;

		&:hover {
			@apply bg-gray-400;
		}
	}
</style>

<script>
	const modal = document.getElementById('modal-kumu')
	const overlay = document.getElementById('overlay-kumu')
	const openModalBtn = document.querySelector('.btn--open-modal-kumu')
	const closeModalBtn = document.querySelector('.btn--close-modal-kumu')
	const body = document.body

	const openModal = function () {
		modal.classList.remove('inactive')
		overlay.classList.remove('inactive')
		body.classList.add('noscroll')
	}

	const closeModal = function () {
		modal.classList.add('inactive')
		overlay.classList.add('inactive')
		body.classList.remove('noscroll')
	}

	openModalBtn.addEventListener('click', openModal)
	closeModalBtn.addEventListener('click', closeModal)
	overlay.addEventListener('click', closeModal)

	document.addEventListener('keydown', function (e) {
		if (e.key === 'Escape' && !modal.classList.contains('inactive')) {
			closeModal()
		}
	})
</script>
