---
import StyledButton from './StyledButton.astro'
import Burger from './Burger.astro'
import navLinks from '../content/navLinks.json'

const { pathname } = Astro.url
---

<nav id="navbar">
	<a href="/">
		<img src=`${import.meta.env.BASE_URL}logo/quovadis-logo.svg` />
	</a>

	<div class="links">
		{
			navLinks?.map((el) => (
				<a class={`link-item${pathname === el.url ? ' active' : ''}`} href={el.url}>
					{el.text}
				</a>
			))
		}
	</div>

	<StyledButton
		class="hidden lg:block"
		data-open-modal-iframe="https://blocksurvey.io/quo-vadis-web3-v5-lyrR1x.wRMaKE1LU0gr_yg?v=o"
	>
		Take our Web3 Survey
	</StyledButton>
	<Burger />
</nav>

<style>
	nav {
		display: flex;
		align-items: center;
		gap: 32px;
		position: fixed;
		width: 100%;
		top: 0;
		padding: 0 24px;
		height: var(--nav-height);
		color: white;
		z-index: 10;
		transition: background-color 1000ms linear;
		justify-content: space-between;

		.links {
			display: none;
			font-family: sans-serif;

			.link-item {
				text-align: center;
				font-size: 12px;
				line-height: 150%;
				color: #c0c0c0;

				&.active {
					font-weight: 700;
					color: white;
					pointer-events: none;
				}
			}
		}

		@media (min-width: 768px) {
			padding: 0 80px;

			.links {
				display: flex;
				flex: 1;
				justify-content: flex-end;
				align-items: center;
				gap: 32px;

				.link-item {
					min-width: 80px;
					font-size: 16px;
				}
			}
		}
	}

	.bgNav {
		background-color: rgba(0, 0, 0, 0.8);
	}
</style>

<script>
	const nav = document.getElementById('navbar')

	const isScrollAtTop = () => window.scrollY === 0

	window.addEventListener('scroll', () => {
		setTimeout(() => {
			isScrollAtTop() ? nav.classList.remove('bgNav') : nav.classList.add('bgNav')
		}, 200)
	})

	window.addEventListener('DOMContentLoaded', () => {
		isScrollAtTop() ? nav.classList.remove('bgNav') : nav.classList.add('bgNav')
	})
</script>
