<div class="flex flex-col gap-8 px-6 py-10 text-white sm:flex-row sm:gap-16 sm:px-16 sm:py-24">
	<div class="flex-1">
		<h2
			class="animate--on-visibility text-3xl font-bold tracking-tight sm:text-4xl"
			data-animationclass="animate__shakeX"
		>
			Our Goal
		</h2>
		<p
			class="animate--on-visibility mt-6 text-sm font-bold leading-8 opacity-70 sm:text-lg"
			data-animationclass="animate__bounceInLeft"
		>
			Gather and analysis of, off-chain data is essential to the growth and development of the
			Blockchain technology based industry.
		</p>
	</div>
	<div class="flex-1">
		<p
			class="animate--on-visibility text-sm leading-8 opacity-70 sm:text-lg"
			data-animationclass="animate__bounceInRight"
		>
			We aim to chart the blockchain, web3 and crypto ecosystem in Portugal and, with fresh
			insights, contribute to the consolidation of this emerging digital transformation, and
			economic model iteration into a well organised industrial sector, valued by society.
		</p>
	</div>
</div>
