<div
	class="mx-auto flex max-w-7xl flex-col items-center gap-4 px-6 py-10 text-white sm:px-20 sm:py-24 lg:flex-row lg:gap-16"
>
	<div class="lg:w-1/2">
		<h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Goals</h2>
		<p
			class="animate--on-visibility mt-6 text-sm leading-8 opacity-50 sm:text-lg"
			data-animationclass="animate__slideInUp"
		>
			Our goal is to gather and analyze data to promote the growth and development of the Web3 ecosystem in Portugal.
			<br />
			<br />
			We aim to chart the various Portuguese blockchain and crypto communities as indicators of the emergence, development and Web3 adoption in our country. And to contribute to the consolidation of these flourishing digital sectors into a well-organised industry, that is duly recognized and valued by the people it aims to serve.
			<br />
			<br />
			This project uses decentralized data-gathering tools to aggregate information from several sources, including our own peer-reviewed proprietary survey, with a comprehensive and robust methodology. Let us know if you want to collaborate!
		</p>
	</div>
</div>
