<div
	class="mx-auto flex max-w-7xl flex-col items-center gap-4 px-6 py-10 text-white sm:px-20 sm:py-24 lg:flex-row lg:gap-16"
>
	<div class="flex-1">
		<h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Goals</h2>
		<p
			class="animate--on-visibility mt-6 text-sm leading-8 opacity-50 sm:text-lg"
			data-animationclass="animate__slideInUp"
		>
			Our goal is to gather and analyse data essential to the growth and development of Web3 iteration process, its industries, and communities.
			<br />
			<br />
			We aim to chart the Portuguese Blockchain and Crypto ecosystems as indicators of the emergence, development and Web3 adoption in Portugal. And to contribute to the consolidation of these emerging digital industries into a well-organized industrial sector, duly recognized and valued.
			<br />
			<br />
			We use decentralized tools to aggregate data from several sources, including our own peer-reviewed proprietary survey, and reliable and trustworthy external data sources. Our data is comprehensive and based on robust methodology.
		</p>
	</div>

	<div class="flex-1">
		<dotlottie-player
			autoplay
			loop
			mode="normal"
			src={import.meta.env.BASE_URL + 'media/lottie-files/eyewink.lottie'}
		>
		</dotlottie-player>
	</div>
</div>
