<div
	class="mx-auto flex max-w-7xl flex-col items-center gap-4 px-6 py-10 text-white sm:px-20 sm:py-24 lg:flex-row lg:gap-16"
>
	<div class="ellipse"></div>
	<div class="scroll-reveal flex-1">
		<h2 class="mb-4 text-3xl font-bold tracking-tight sm:mb-14 sm:text-4xl">
			A 360ยบ perspective of Web3 in Portugal
		</h2>
		<div class="text-sm leading-8 sm:text-lg">
			<p class="mb-4">
				<span>
					FOR THE WEB3 ECOSYSTEM TO BE RESPECTED AS AN INDUSTRY, IT MUST FIRST BE STUDIED AS AN INDUSTRY.
				</span>
			</p>
			<div class="overflow-y-hidden">
				<p
					class="animate--on-visibility opacity-50"
					data-animationclass="animate__slideInUp"
				>
					Understanding the elements that constitute an industry is essential to improve its dynamics and capitalize on its potential. It's also useful to develop a coherent narrative that encompasses both all its sectorial dimensions.
					<br />
					<br />
					That's why the Portuguese Web3 Ecosystem Map, powered by Quo Vadis Web3, aims to provide a holistic assessment of the industry and its diverse professional roles, in order to offer better solutions that help evolve the work of those building the next iteration of the internet.
					<br />
					<br />
					To do so, we want to hear from all the builders, including the non-conventional ones. From founders to developers and investors and traders, without forgetting the lawyers, digital artists, academics, researchers, and business developers, but also the regulators, lobbyists, marketers, copywriters, community managers, event organizers, as well as all the incubator and accelerator managers, consultants, and project advisors. Fill out the survey and let us know more about your work in Portugal! 
				</p>
			</div>
		</div>
	</div>
</div>

<style>
	.ellipse {
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: 418px;
		max-height: 418px;
		flex-shrink: 0;
		border-radius: 418px;
		filter: blur(100px);
		background: rgba(206, 77, 164, 0.4);
		pointer-events: none;
	}

	.scroll-reveal p span {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;

		animation-range-start: cover 15vh;
		animation-range-end: cover 60vh;
	}
</style>
