<div
	class="mx-auto flex max-w-7xl flex-col items-center gap-4 overflow-y-hidden px-6 py-10 text-white sm:px-20 sm:py-24 lg:flex-row lg:gap-16"
>
	<div class="ellipse"></div>
	<div class="scroll-reveal flex-1">
		<h2 class="mb-4 text-3xl font-bold tracking-tight sm:mb-14 sm:text-4xl">
			360ยบ perspective Industry-Level reporting
		</h2>
		<div class="text-sm leading-8 sm:text-lg">
			<p class="mb-4">
				<span>
					For the Web3 iteration process to be perceived as an Industry, it should be structured as industries do.
				</span>
			</p>
			<p class="animate--on-visibility opacity-50" data-animationclass="animate__slideInUp">
				The nature and characteristics of the elements that constitute an industry are essential for understanding its dynamics and potential. Therefore, it is imperative to enhance its internal coherence and develop a comprehensive narrative that encompasses both its sectorial and vertical dimensions.
				<br />
				<br />
				Quo Vadis Web3 aims to provide a holistic assessment of an industry that offers solutions for various domains of activity, and to map the diverse professional roles that contribute to this next iteration of the World Wide Web.
				<br />
				<br />
				These roles include, but are not limited to, founders, developers, investors, lawyers, digital artists, academics, researchers, business developers, regulators, lobbyists, traders, marketers, copywriters, community managers, event organizers, incubator and accelerator managers, consultants, and advisors. They are all part of the Web3 industry ecosystem that we seek to describe and characterize.
			</p>
		</div>
	</div>
</div>

<style>
	.ellipse {
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: 418px;
		max-height: 418px;
		flex-shrink: 0;
		border-radius: 418px;
		filter: blur(100px);
		background: rgba(206, 77, 164, 0.4);
	}

	.scroll-reveal p span {
		font-size: 32px;
		font-weight: 400;
		line-height: 150%;
		text-transform: uppercase;

		animation-range-start: cover 15vh;
		animation-range-end: cover 60vh;
	}
</style>
