<div class="items-center gap-16 px-6 py-10 text-white sm:flex sm:px-16 sm:py-24">
	<div
		class="animate--on-visibility mx-auto w-1/2 flex-1"
		data-animationclass="animate__rotateIn"
	>
		<dotlottie-player autoplay loop mode="normal" src={import.meta.env.BASE_URL + "media/lottie-files/360animation.lottie"}>
		</dotlottie-player>
	</div>
	<div class="flex-1">
		<h2
			class="animate--on-visibility mb-4 text-3xl font-bold tracking-tight sm:mb-14 sm:text-4xl"
			data-animationclass="animate__rotateIn"
		>
			A 360º perspective
		</h2>
		<p
			class="animate--on-visibility text-sm leading-8 text-gray-400 sm:text-lg"
			data-animationclass="animate__rollIn"
		>
			Most industry reports don’t reflect the complexity and the wide professional impact Web3
			today has in the lives of not only founders, developers, or investors, but also of
			lawyer, lobbyists, community managers, digital artists, academics and researchers,
			business developers, regulators, traders, Marketers or copywriters, community managers,
			event organizers, incubator – accelerator managers, consultants, advisors, and so many
			other professions today related to this industry.
			<br />
			<br />
			 Our project intends to cover the Web3 space in a 360º perspective.
		</p>
	</div>
</div>
