<div class="rectangle"></div>

<style>
	.rectangle {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		border-radius: 20px;
		background: linear-gradient(90deg, #8a79ff 0%, #ce4da4 100%);
		filter: blur(30px);
	}
</style>
